html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  text-align: center;
}

header h1 {
  padding: 0;
  margin: 0;
}

header h2 {
  margin: 0;
  font-size: 1.3rem;
}

nav ul a {
  text-decoration: underline;
  color: #3783a3;
  font-size: 1.3rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
  margin-top: 0;
}

main p:first-child {
  font-size: 2rem;
  text-align: center;
}

main p:last-child {
  font-size: 1.125rem;
  text-align: center;
  margin: 1.5rem;
  margin-bottom: 4rem;
}

h2 {
  margin: 0;
  margin-top: 1.5rem;
}

h3 {
  margin: 0;
  margin-bottom: 1.5rem;
}

article nav {
  padding: .5em 1em .6em;
  border-style: solid;
  border-color: #3783a3;
  opacity: .6;
  border-width: .2rem;
  border-radius: .3rem;
  margin-bottom: 1.5rem;
}

article nav a {
  color: #3783a3;
  text-decoration: none;
  font-size: 1.125rem;
}

article p {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

footer {
  margin: 1.5rem;
  font-size: .9rem;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1rem;
  }

  header {
    grid-column: span 3;
  }

  header h1 {
    display: flex;
  }

  header h2 {
    display: flex;
  }

  header ul a {
    display: flex;
  }

  main {
    grid-column: span 3;
    margin-left: 2rem;
    margin-right: 2rem;
    border-top: solid;
    border-bottom: solid;
    border-color: #e2e2e2;
  }

  article nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  footer {
    grid-row: 4;
    grid-column: 1 / span 3;
    padding: 1rem;
    border-top: solid;
    border-color: #e2e2e2;
  }

}
